

.bigwrapper {
    display:flex;
    background-repeat: no-repeat;
    background-size:2rem;
    height:500px;
    justify-content: center;
    align-items: center;
}

.biggerwrapper {
    background-image: url('src/assets/texturepine2.png');
}

.biggerwrapper::before {
    opacity:0.5;
}

.roadsign {
    height:400px;
    
}