.missioncontainer {
    display:flex;
    padding-top:100px;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.reviewcontainer {
    display:grid;
    gap:30px;
    grid-template-columns: repeat(2,1fr);
    width:100%;
}

.phonebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:250px;
    height:50px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(148,105,148,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(148,105,148,1);
box-shadow: 10px 10px 5px 0px rgba(148,105,148,1);
border-radius:30px;
border:none;
font-size:large;
background-color:white;
font-weight:700;
}

.textcontainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

@media (max-width: 900px) {
    .missioncontainer, .reviewcontainer {
        flex-direction: column;
        align-items: center;
    }
}